@media (max-width: 767px) {
	.paraintro {
		display: none;
	}
	#brief {
		padding-top: 12%;
	}
}

.center {
	text-align: center!important;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

p {
	font-size: 120%;
}


/*
.paraintro {
		padding-top: 50%;
}
*/

.section {
	padding-top: 2%;
	padding-bottom: 2%;
}


#intro h1,
h5 {
	color: black;
}

#brief h2,
h3 {
	text-align: center;
}


.sub {
	font-size: 90%;
	color: #47484C;
}

.title {
	padding-bottom: 10px;
}

.paraintro {
	position: relative;
	margin: 0px auto;
	padding-bottom: 20%;
	padding-top: 15%;
}

.align-bottom {
	position: absolute;
	width: 100%;
  padding: 0px;
  margin: 0px;
	bottom: 0;
	color: white;
	background-color: black;
	opacity: 0.6;
}

.white {
	color: white;

}

.intro-header {
	font-size: 250%;

}

.cursive {
	font-family: 'Niconne', cursive;
	opacity: 1!important;
}

.subquote {
	font-size: 200%;
}

.emphasis {
	color: #bf360c;
}

.imagewall-image {
	width: 100%;

}


.pad {
	padding-top: 5%;
}

.footer {
	background: #006064;
	color: white!important;
	padding-top: 2%;
	padding-bottom: 2%;
}

.footer a {
	color: white;
	opacity: 0.8;

}
.footer a:hover {
	text-decoration: none;
	color: white;
	opacity: 0.6
}

.view {
	text-align: center;
}
.view:hover {
	text-decoration: none;
}

.header {
	color: #bf360c;
}

.header-icon {
	color: #1F4052;
}
.btn-primary {
	background-color: #9C500C;
	border-color: #9C500C;
}

.align-right {
	float: right;
}
